.stat-annotation {
    color: lightgray;
}

.stat-excellent {
    color: lime;
}

.stat-good {
    color: lawngreen;
}

.stat-okay {
    color: yellowgreen;
}

.stat-poor {
    color: yellow;
}

.stat-bad {
    color: orange;
}

.stat-awful {
    color: orangered;
}