.beneficial {
    color: lightgreen;
}

.detrimental {
    color: firebrick;
}

.magical {
    color: dodgerblue;
    text-shadow: 
        0 0 2px rgba(30, 143, 255, 0.6),
        0 0 4px rgba(30, 143, 255, 0.3);
}